<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script src="https://use.fontawesome.com/5287b15aba.js"></script>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row align-items-center justify-content-center" style="min-height: 500px;">
        <form class="col-5 flex-column justify-content-center" style="border: 1px solid darkgrey; border-radius: 5px 5px" method="POST" th:action="@{/login}">
            <h3 class="mt-5 mb-5 ml-5 p-3 text-center brand-logo primary-color">Pay My Buddy</h3>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <div class="mt-5 mb-4">
                <label class="sr-only" for="email">Email</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="email" name="username" placeholder="Email">
                </div>
            </div>
            <div class="mt-4 mb-5">
                <label class="sr-only" for="password">Password</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-asterisk" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="mt-5 mb-5 form-check d-flex justify-content-center">
                <div>
                    <input class="d-block form-check-input" type="checkbox" value="" id="rememberMe">
                    <label class="d-block form-check-label" for="rememberMe">
                        Remember me
                    </label>
                </div>
            </div>
            <div class="mt-5 mb-5 d-flex justify-content-center">
                <button class="btn btn-primary">Login</button>
            </div>
            <a class="nav-link" href="#" th:href="@{/register}">Sign up</a>
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>
